:root {
  //colors
  --body-bg-col: rgb(245, 243, 239);
  --bg-col-primary: #1f8e4a;
  --bg-col-secondary: rgb(248, 187, 43);
  --font-color-default: white;

  //font
  --font-size-default: 1.2rem;
  --font-weight-default: 400;

  --font-size-tertiary: 1.4rem;
  --font-size-secondary: 2.5rem;

  //values
  --header-height: 4vw;
  --header-width: 95vw;
  --bor-rad: 1vw;
  @media (max-width: 900px) {
    --bor-rad: 2vw;
  }
  --transition-default: all 0.3s ease;
}
